


<div>
    <h1>Mas ingresos para su negocio</h1>
</div>

<div class="container">
    <div class="imagen">
        <img src="https://creditotitan.co/images/prensa/daviplata.jpg" alt="">
    </div>
    <h2>Beneficios y caracteristicas</h2>
    <mat-icon mat-list-icon color="warn">smartphone</mat-icon>
    <span>  Genere ingresos realizando compras en la tienda virtual y reciba entre 2% y el 4% en devoluciones de la compra.</span>
    <hr>
    <mat-icon mat-list-icon color="warn">school</mat-icon>
    <span> Aprenda como posicionar su negocio en nuestra escuela.</span>
    <hr>
    <mat-icon mat-list-icon color="warn">request_quote</mat-icon>
    <span> Accede a informes detallados de su boton de pagos.</span>
    <hr>
    <mat-icon mat-list-icon color="warn">payments</mat-icon>
    <span> Obtenga estos beneficios de manera gratis y sin algun costo.</span>
    <hr>


    <mat-icon mat-list-icon color="accent">verified_user</mat-icon>
    <span> Autorizo el descuento por suscripcion aceptando los <a href="https://www.daviplata.com/Documents/wcm?biblio=daviplata_wcm_library&nombre=TerminosYCondicionesTienda">Terminos y Condiciones</a></span>
    <hr>
    <a class="b-botton" href="http://localhost:4200/daviplata/search">Contratar</a>
    <br>
</div>