.mat-toolbar {
    background: red;
    
}

mat-button{
    width: 20%;
    height: 40%;

}
 .center {
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    
 }