
<div>
    <div class="imagen">
        <img src="https://play-lh.googleusercontent.com/fIwuxVTuoLOzhrKJL6GCGIKuEJc6JFu9Ii97cp0nFWE61qpfeaIhFBiNL5wFcydvhQA" alt="">
    </div>
</div>

<div class="container">
   
  

    <mat-icon mat-list-icon color="warn">menu</mat-icon>

    
    <mat-icon class="notificacion" mat-list-icon color="warn">notifications</mat-icon>
   
  <div class="circulo">
    <br>
   <h2>Mi Daviplata</h2>
   <br>
   <p class="saldo">$8'000.000,00</p>
   <p class="total">Disponible</p>
  </div>

  <div class="nombre">
    <mat-icon mat-list-icon color="Disable">home</mat-icon>
    <mat-icon mat-list-icon color="Disable">change_circle</mat-icon>
     
  </div>

  
  
</div>


