<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div>
    <h1>Prueba ANGULAR</h1>
</div>
  <section class="form-register">

    <h2>Ingrese los siguientes datos</h2>

    <label for="username">Escriba su nombre completo</label>
    <br>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="ingrese su nombre">
    <br>
    <label for="username">Seleccione tipo de documento</label>
    <br>
    <input class="controls" type="text" name="documento" id="documento" placeholder="Ingrese el numero">
    <br>
    <label for="username">Escriba numero de documento</label>
    <br>
    <input class="controls" type="number" name="numero" id="numero" placeholder="Ingrese el numero">
    <br>
    <label for="username">Escriba ciudad o municipio</label>
    <br>
    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese el nombre">
    <br>
    <label for="username">¿Cual es su direccion?</label>
    <br>
    <input class="controls" type="text" name="direccion" id="direccion" placeholder="Seleccione">
    <br>
    <label for="username">Local/Tienda/Barrio/Otro</label>
    <br>
    <input class="controls" type="text" name="opcional" id="opcional" placeholder="opcional">
    <br>
    <label for="username">Numero de celular</label>
    <br>
    <input class="controls" type="tel" name="numero" id="numero" placeholder="Escriba el numero">
    <br>
    <a href="http://localhost:4200/daviplata/search">Crear</a>
    <br>
  </section>
   


</body>
</html>